n8n/code-a-cuisine.json
{
  "name": "code-a-cuisine",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{\n`You are a recipe generator.\n\nUse only this current input:\n\n${JSON.stringify($('Webhook').first().json.body)}\n\nGenerate exactly 3 different recipes based on the supplied ingredients.\n\nStrict rules:\n\n- Every recipe must use all supplied ingredients when exactly 3 ingredients are provided.\n- Supplied ingredients must appear only in \"ingredients\".\n- Additional ingredients must appear only in \"missingIngredients\".\n- Never move a supplied ingredient to \"missingIngredients\".\n- Never invent or replace supplied ingredients.\n- Copy supplied ingredient names exactly.\n- Copy preferences.cuisine exactly into category.\n- Copy preferences.diet exactly into preference.\n- Copy preferences.persons exactly into cooks.\n- Copy preferences.portions exactly into servings.\n- likes must always be 0.\n\nCooking time:\n\n- Quick: 1–20 minutes\n- Medium: 21–40 minutes\n- Complex: 41 minutes or more\n\nThe cookingTime of every recipe must match preferences.time.\n\n## STEPS\n\nEach recipe must contain 4 to 7 detailed chronological cooking steps.\n\nEach step must use this exact structure:\n\n{\n  \"title\": \"Clear Step Title\",\n  \"description\": \"Detailed and beginner-friendly cooking instruction.\"\n}\n\nEvery step description must:\n\n- clearly explain exactly what to do\n- mention which ingredients are used\n- include relevant quantities when helpful\n- include temperatures when relevant\n- include cooking times when relevant\n- explain how to recognize when the food is ready\n- avoid vague instructions such as \"cook everything\" or \"prepare the ingredients\"\n- contain at least 2 complete sentences when the action requires explanation\n\nThe steps must describe the complete preparation process from beginning to serving.\n\n## NUTRITION\n\nEvery recipe must contain exactly this nutrition structure:\n\n\"nutrition\": {\n  \"perServing\": {\n    \"energy\": 0,\n    \"protein\": 0,\n    \"carbs\": 0,\n    \"fat\": 0\n  }\n}\n\nAll four fields are mandatory:\n\n- energy\n- protein\n- carbs\n- fat\n\nDo not omit any field.\n\nAll values must be numbers without units and must represent one serving.\nUse realistic estimates based on all supplied and missing ingredients.\n\n## RETRY AND MEMORY\n\nUse the connected memory only to avoid repeating recipes from the current user session.\n\nIf the same ingredients and preferences are submitted again, generate 3 new recipe concepts.\n\nDo not repeat:\n\n- the same recipe name\n- the same dish type\n- the same cooking method\n- the same flavor profile\n- the same presentation\n\nChanging only the title, quantities, one spice, or the wording is not enough.\n\nThe new recipes must be clearly different from all recipes previously generated in this memory session.\n\nNever use ingredients, cuisine values, dietary preferences, cooks, servings, or cooking times from memory.\n\nThe current webhook input is always authoritative.\n\nMemory may only be used to remember which recipe concepts were already generated.\n\nReturn exactly one valid JSON object:\n\n{\n  \"recipes\": [\n    {\n      \"category\": \"\",\n      \"cookingTime\": 0,\n      \"cooks\": 0,\n      \"description\": \"\",\n      \"ingredients\": [\n        {\n          \"quantity\": 0,\n          \"unit\": \"\",\n          \"name\": \"\"\n        }\n      ],\n      \"likes\": 0,\n      \"missingIngredients\": [\n        {\n          \"quantity\": 0,\n          \"unit\": \"\",\n          \"name\": \"\"\n        }\n      ],\n      \"name\": \"\",\n      \"nutrition\": {\n        \"perServing\": {\n          \"energy\": 0,\n          \"protein\": 0,\n          \"carbs\": 0,\n          \"fat\": 0\n        }\n      },\n      \"preference\": \"\",\n      \"servings\": 0,\n      \"steps\": [\n        {\n          \"title\": \"\",\n          \"description\": \"\"\n        }\n      ]\n    }\n  ]\n}\n\nThe recipes array must contain exactly 3 recipe objects.\n\nReturn JSON only.\nDo not use Markdown or code fences.\nDo not return a top-level array.\nDo not add createdAt.\n\nBefore returning, verify that:\n\n- every recipe contains 4 to 7 detailed steps\n- every step clearly explains the action, duration and temperature when relevant\n- every recipe contains nutrition.perServing.energy\n- every recipe contains nutrition.perServing.protein\n- every recipe contains nutrition.perServing.carbs\n- every recipe contains nutrition.perServing.fat\n- all nutrition values are numbers`\n}}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        1136
      ],
      "id": "21cdbb45-add9-448f-b979-ab00f799de88",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        608,
        1424
      ],
      "id": "349f3a26-102b-42b5-8d73-fcc6ed4a6e03",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eF1GIlib3o1YKql6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recipe",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        1008
      ],
      "id": "dbc9cb3e-9583-4993-8fbe-bb6dcfc591cf",
      "name": "Webhook",
      "webhookId": "03675c54-a8d5-486e-a223-27d0841b147e"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Processes the retrieved quota records.\n *\n * This node:\n * - finds the current user's quota record\n * - finds the global daily quota record\n * - extracts request counters\n * - provides default values if no record exists\n *\n * The resulting data is used for rate limit validation.\n */\n\nconst request = $('Generate Request Metadata').first().json;\n\nconst rows = $input.all()\n  .map(item => item.json)\n  .filter(row => row.quotaKey);\n\nconst ipRow = rows.find(\n  row => row.quotaKey === request.quotaKey\n);\n\nconst globalRow = rows.find(\n  row => row.quotaKey === request.globalQuotaKey\n);\n\nreturn [{\n  json: {\n    ...request,\n\n    ipCount: Number(ipRow?.count ?? 0),\n    globalCount: Number(globalRow?.count ?? 0),\n\n    lastRequest: Number(ipRow?.lastRequest ?? 0),\n\n    ipRowExists: Boolean(ipRow),\n    globalRowExists: Boolean(globalRow)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        1008
      ],
      "id": "6da85bb8-42d3-44c3-94ca-7e60529f9954",
      "name": "Prepare Quotas"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Prepares request metadata for the workflow.\n *\n * This node:\n * - extracts the client's IP address\n * - creates the current date\n * - records the request timestamp\n * - generates quota keys for daily rate limiting\n *\n * These values are used later to identify users,\n * enforce request limits and log requests.\n */\nconst headers = $json.headers ?? {};\nconst forwardedFor = headers['x-forwarded-for'];\n\nconst rawIp =\n  headers['cf-connecting-ip'] ||\n  headers['x-real-ip'] ||\n  (forwardedFor ? forwardedFor.split(',')[0] : '') ||\n  '127.0.0.1';\n\nconst ip = rawIp.trim().replace(/^::ffff:/, '');\n\nconst date = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Europe/Berlin'\n}).format(new Date());\n\nreturn [{\n  json: {\n    ...$json,\n    ip,\n    date,\n    requestTime: Date.now(),\n    quotaKey: `${date}|${ip}`,\n    globalQuotaKey: `${date}|GLOBAL`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        1008
      ],
      "id": "de9d63b8-61e0-4b23-a5e9-1ea45a03c5cf",
      "name": "Generate Request Metadata"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zChRNsvb38wxpZe3",
          "mode": "list",
          "cachedResultName": "quota_usage",
          "cachedResultUrl": "/projects/JkZXlzrrMuPlaOux/datatables/zChRNsvb38wxpZe3"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "quotaKey",
              "keyValue": "={{ $('Generate Request Metadata').first().json.quotaKey }}"
            },
            {
              "keyName": "quotaKey",
              "keyValue": "={{ $('Generate Request Metadata').first().json.globalQuotaKey }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -528,
        1008
      ],
      "id": "7c034cfa-febf-43ec-be55-23b0fce9c465",
      "name": "Load User Quota",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f13fd010-d6b5-4f82-8fad-c122b15796dd",
              "leftValue": "={{\n  (\n    $json.lastRequest > 0 &&\n    ($json.requestTime - $json.lastRequest) < 10000\n  ) ||\n  $json.ipCount >= 3 ||\n  $json.globalCount >= 12\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        1008
      ],
      "id": "eb4398e4-9e97-44e2-9117-6e2f93c327e7",
      "name": "Validate Rate Limits"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 429
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        144,
        912
      ],
      "id": "aee5ed9c-9689-47b2-94d0-46989527f731",
      "name": "Return Rate Limit Error"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Updates the user and global quota records.\n *\n * This node:\n * - increments the user's request counter\n * - increments the global request counter\n * - updates the timestamp of the latest request\n *\n * The resulting records are written back to the\n * quota storage in the next step.\n */\nconst data = $input.first().json;\n\nreturn [\n  {\n    json: {\n      quotaKey: data.quotaKey,\n      ip: data.ip,\n      date: data.date,\n      count: Number(data.ipCount ?? 0) + 1,\n      lastRequest: Number(data.requestTime)\n    }\n  },\n  {\n    json: {\n      quotaKey: data.globalQuotaKey,\n      ip: '',\n      date: data.date,\n      count: Number(data.globalCount ?? 0) + 1,\n      lastRequest: Number(data.requestTime)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        1104
      ],
      "id": "6a77b277-1706-46d2-b4ff-3ea30ba63e26",
      "name": "Create Updated Quotas"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "zChRNsvb38wxpZe3",
          "mode": "list",
          "cachedResultName": "quota_usage",
          "cachedResultUrl": "/projects/JkZXlzrrMuPlaOux/datatables/zChRNsvb38wxpZe3"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "quotaKey",
              "keyValue": "={{ $json.quotaKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quotaKey": "={{ $json.quotaKey }}",
            "ip": "={{ $json.ip }}",
            "date": "={{ $json.date }}",
            "count": "={{ $json.count }}",
            "lastRequest": "={{ $json.lastRequest }}",
            "quotaType": "={{ $json.quotaType }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "quotaKey",
              "displayName": "quotaKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quotaType",
              "displayName": "quotaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "count",
              "displayName": "count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastRequest",
              "displayName": "lastRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        1104
      ],
      "id": "31d10a7f-60c1-4132-9d54-38ea2ed3f0be",
      "name": "Save Updated Quotas",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst output = $input.first().json.output;\n\nconst cleanedOutput = output\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/, '')\n  .trim();\n\nconst parsed = JSON.parse(cleanedOutput);\n\nreturn [\n  {\n    json: parsed\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        1120
      ],
      "id": "7d5adc9d-c93d-4da5-b53b-a71f71008a7f",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1392,
        1296
      ],
      "id": "e493b2a8-94ef-4852-91c6-7b5dcc86f02c",
      "name": "Return Ingredient Validation Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5cb88701-415c-4b35-b12a-90d9f58e87bc",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        1120
      ],
      "id": "acd1d1a9-c357-4964-b6e8-4fc147eb9a0c",
      "name": "Check for Validation Errors"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1392,
        1072
      ],
      "id": "27571c11-1a79-4a8e-a92b-a666a198f2ed",
      "name": "Return Recipe Response"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Prepares the generated recipes for storage.\n *\n * This node:\n * - iterates over all generated recipes\n * - adds a creation timestamp to each recipe\n * - returns each recipe as a separate n8n item\n *\n * The prepared records are stored in the database\n * in the following workflow step.\n */\nconst recipes = $json.recipes;\n\nreturn recipes.map(recipe => ({\n  json: {\n    ...recipe,\n    createdAt: new Date().toISOString()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        1072
      ],
      "id": "b38c3a2e-181f-45a1-bf3d-a98414297b0a",
      "name": "Prepare Recipes for Storage"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://code-a-cuisine-26bde-default-rtdb.europe-west1.firebasedatabase.app/recipes.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        1072
      ],
      "id": "04aff2eb-e9be-460b-a356-6ce4099562b2",
      "name": "Save Recipes to Firebase"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "recipe-session-test"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        736,
        1376
      ],
      "id": "0f3dae92-8bf0-4740-9b3f-d206d688e5a9",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Request Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Ingredient Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Quotas": {
      "main": [
        [
          {
            "node": "Validate Rate Limits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Request Metadata": {
      "main": [
        [
          {
            "node": "Load User Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User Quota": {
      "main": [
        [
          {
            "node": "Prepare Quotas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Rate Limits": {
      "main": [
        [
          {
            "node": "Return Rate Limit Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Updated Quotas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Updated Quotas": {
      "main": [
        [
          {
            "node": "Save Updated Quotas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Updated Quotas": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Check for Validation Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Validation Errors": {
      "main": [
        [
          {
            "node": "Return Ingredient Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Recipe Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Recipe Response": {
      "main": [
        [
          {
            "node": "Prepare Recipes for Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Recipes for Storage": {
      "main": [
        [
          {
            "node": "Save Recipes to Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ac5bd605-56a8-45a9-93e6-6b581ccdf989",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7864b7cf6afc71819e9753b073581a5ef0e59948c2d9b2b48065396a95c4bd27"
  },
  "nodeGroups": [],
  "id": "d9obaJnuA0ceed5P",
  "tags": []
}